<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Home</title>
</head>
<body>
    <%- include('../views/partials/nav.ejs') %>
    <div class="landing">
       
        <div class="imgBx">
            <img src="https://therecipecritic.com/wp-content/uploads/2020/01/yogurtparfaits.jpg" alt="">
        </div>
         <div class="welcome">
             <div class="fillie">
                <h1><span class="bigger">H</span>eart <span class="bigger">H</span>ealthy <span class="bigger">E</span>ats</h1>
                <hr>
                <p class="someText">Eat the foods you love and stay Healthy</p>
                <p class="res">Make a Reservation</p>
                <br> 
                <button class="left">View Menu</button> <button class="right">Order Now</button>
                <div class="socials">
                    <img src="https://digikubemedia.com/media/2020/03/Asset-1Social-Media-Page-Icons.png" alt="">
                </div>
            </div>
        </div> 
        <div class="imgBx">
            <img src="https://1.bp.blogspot.com/-dOG0NX5hPgo/T56e63f3UgI/AAAAAAAAIFY/_nYxffVOemo/s1600/IMG_4488.jpg" alt="">
        </div>
    </div>
    

</body>
</html>