<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Menu</title>
</head>
<body>
    <%- include('../views/partials/nav.ejs') %>
    
    <div class="menu">
        <div class="landing2">
            <div class="imgBox">
                 <img src="../public/menu_landing.jpg" alt="">
            </div>
            <div class="welcome">
                     <h1>Scarlet's Brisque</h1>
                     <p> - Home to the worlds finest in Beverage and Cuisines</p>
            </div>
        </div>

        <div class="specials">
            <div class="txt">
                <h2>House Specials</h2>
            </div>
            <div class="specialsListing">
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://www.mozaic-bali.com/wp-content/uploads/2018/06/img_2408.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://blancoparmandif.com/wp-content/uploads/2019/12/IMG_8777-1568x1176.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://cuveechatham.com/wp-content/uploads/2019/12/bouillabaisse-plate-featured.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="specials2">
            <div class="txt">
                <h2>Today's Menu</h2>
            </div>
            <div class="specialsListing">
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://www.mozaic-bali.com/wp-content/uploads/2018/06/img_2408.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://blancoparmandif.com/wp-content/uploads/2019/12/IMG_8777-1568x1176.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://cuveechatham.com/wp-content/uploads/2019/12/bouillabaisse-plate-featured.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://www.mozaic-bali.com/wp-content/uploads/2018/06/img_2408.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://blancoparmandif.com/wp-content/uploads/2019/12/IMG_8777-1568x1176.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
                <div class="specs">
                    <div class="imgBoxs">
                        <img src="https://cuveechatham.com/wp-content/uploads/2019/12/bouillabaisse-plate-featured.jpg" alt="">
                    </div>
                    <div class="dets">
                        <div class="namePrice">
                            <p>Name of Dish</p>
                            <p>prices</p>
                        </div>
                        <p>Customer Reviews</p>
                        <div class="btn">
                            <button>Set Reservation</button>
                            <button>Place An Order</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="orderingForm">

            <h2>Place Your Order</h2>
    
            <form action="/menu/placeOrder" method="post">

                <div class="email">
                    <label for="">To Place Your Order or Make a Reservation Pleade Provide Your Email Address:</label><br>
                    <input type="text" name="email" placeholder="email@gmail.com">
                </div>

                <div class="order">
                    <label for="">Eay Access Menu:</label>
                    <select name="order" id="">
                        <option value=""></option>
                        <option value="House Special Scarlet's All Inclusive">House Special Scarlet's All Inclusive</option>
                        <option value="House Special Capria Ares">House Special Capria Ares</option>
                        <option value="House Special SunDance Horace">House Special SunDance Horace</option>
                        <option value="Order # 1">Order # 1</option>
                    </select>
                    
                </div>
                <div class="submit">
                    <input type="submit" value="Place Order">
                </div>
            </form> 
     </div>
    </div>
</body>
</html>